@{
	//
}

<div class="container">
	<ul class="nav justify-content-center justify-content-md-end text-center">
		<li class="nav-item">
			<a href="#" class="nav-link link-dark">
				<i class="bi bi-bag"></i>
				<span class="d-block">Basket</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link link-dark">
				<i class="bi bi-person-plus"></i>
				<span class="d-block">Register</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link link-dark">
				<i class="bi bi-box-arrow-in-right"></i>
				<span class="d-block">Sign in</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link link-dark">
				<i class="bi bi-box-arrow-in-left"></i>
				<span class="d-block">Logout</span>
			</a>
		</li>
	</ul>
	<div class="d-flex flex-column flex-md-row align-items-stretch">
		<!-- logo -->
		<img src="~/Images/fs_logo_1024.png" alt="Company Logo" title="Fake Store" class="fs-logo mb-3 mb-md-0" />
		<!-- menu -->
		<div class="flex-fill d-flex flex-column justify-content-center align-items-center">
			<!-- search bar -->
			<div class="w-100 mb-3">
				<form method="post" asp-controller="Product" asp-action="GetSearchResult">
					<div class="input-group">
						<label for="query" class="form-control visually-hidden">Search</label>
						<input type="search" list="dlKeywords" placeholder="Search" id="query" name="query" class="form-control mx-auto rounded-5 me-2" />
						<datalist id="dlKeywords"></datalist> <!-- dynamically changes with js -->
						<input type="submit" value="Search" class="btn btn-dark rounded-5" />
					</div>
				</form>
			</div>
			<!-- nav bar -->
			<nav class="w-100">
				<ul class="nav justify-content-center justify-content-lg-around">
					<li class="nav-item">
						<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link link-dark">Home</a>
					</li>
					<li class="nav-item">
						<a asp-area="" asp-controller="Product" asp-action="Clothing" class="nav-link link-dark">Clothing</a>
					</li>
					<li class="nav-item">
						<a asp-area="" asp-controller="Product" asp-action="Electronics" class="nav-link link-dark">Electronics</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link link-secondary disabled">Jewellery</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>