@{
	//
}

<div class="container py-3 text-secondary">
	<div class="row">
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item text-light">Sources</li>
				<li class="nav-item">
					<a href="https://stock.adobe.com/uk/" class="nav-link link-secondary">Images (Adobe Stock)</a>
				</li>
			</ul>
		</div>
		<div class="col">
			<ul class="nav flex-column">
				<li class="nav-item text-light">Quick Links</li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link link-secondary">Home</a></li>
				<li class="nav-item"><a asp-controller="Product" asp-action="Clothing" class="nav-link link-secondary">Clothing</a></li>
				<li class="nav-item"><a href="#" class="nav-link link-secondary">Electronics</a></li>
				<li class="nav-item"><a href="#" class="nav-link link-secondary">Jewellery</a></li>
			</ul>
		</div>
	</div>
</div>