@{
	//
}

<ul class="nav justify-content-center justify-content-md-end">
	<li class="nav-item"><a href="#" class="nav-link link-dark">Basket</a></li>
	<li class="nav-item"><a href="#" class="nav-link link-dark">Sign in</a></li>
	<li class="nav-item"><a href="#" class="nav-link link-dark">Register</a></li>
	<li class="nav-item"><a href="#" class="nav-link link-dark">Logout</a></li>
</ul>

<div class="d-flex flex-column flex-md-row align-items-stretch border-bottom">
	<img src="~/Images/AdobeStock_537184538_black.png" alt="Company Logo" title="Company Logo" class="fs-logo" />
	<div class="w-100 d-flex flex-column justify-content-center align-items-center p-3">
		<div class="w-75 mb-3">
			<form>
				<input type="search" placeholder="Search" class="form-control w-75 mx-auto rounded-5" />
			</form>
		</div>
		<nav class="w-75">
			<ul class="nav justify-content-center">
				<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link link-dark">Home</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link link-dark">Electronics</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link link-dark">Jewelery</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link link-dark">Mens Clothing</a></li>
				<li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link link-dark">Womens Clothing</a></li>
			</ul>
		</nav>
	</div>
</div>