@{
	//Makes editing the banner content easier as its in its own file
}

<a href="#" class="text-decoration-none text-dark">
	<div class="container-fluid text-center py-5 mb-3 fs-banner-img">
		<h1 class="display-1">BANNER</h1>
		<p class="lead">Paragraph</p>
	</div>
</a>