@{
	ViewData["Title"] = "Index";
}

@section PageBanner {
	@await Html.PartialAsync("_PartialBanner")
}

<div class="mb-3 text-center">
	<h1 class="display-1">Index</h1>
	<p class="lead">Paragraph</p>
</div>

<div class="d-flex justify-content-around align-items-center mb-3">
	<img src="~/Images/AdobeStock_374115145.jpeg" alt="Thumb-1" class="ratio-1x1 d-block w-25 h-auto" />
	<img src="~/Images/AdobeStock_374115145.jpeg" alt="Thumb-2" class="ratio-1x1 d-block w-25 h-auto" />
	<img src="~/Images/AdobeStock_374115145.jpeg" alt="Thumb-3" class="ratio-1x1 d-block w-25 h-auto" />
</div>

<div class="mb-3">
	<ul class="nav justify-content-around">
		<li class="nav-item"><a href="#" class="nav-link">Sub-cat-1</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Sub-cat-2</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Sub-cat-3</a></li>
		<li class="nav-item"><a href="#" class="nav-link">Sub-cat-4</a></li>
	</ul>
</div>