@{
	ViewData["Title"] = "FS - Home";
}

@section PageBanner {
	@await Html.PartialAsync("_PartialBanner")
}

<div class="d-flex flex-column gap-5">
	<!-- content - clothes -->
	<div class="border-bottom pb-5 text-center observer-target">
		<h2 class="display-2">Clothing</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-5">
			<a href="#" title="Men's Clothing"
			   class="fs-thumb fs-thumb-category-men link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Men's</span>
			</a>
			<a href="#" title="Women's Clothing"
			   class="fs-thumb fs-thumb-category-women link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Women's</span>
			</a>
			<a href="#" title="Kids Clothing"
			   class="fs-thumb fs-thumb-category-kid link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Kids</span>
			</a>
		</div>
		<a asp-area="" asp-controller="Product" asp-action="Clothing" class="btn btn-outline-info">Browse for More</a>
	</div>

	<!-- content - electronics -->
	<div class="border-bottom pb-5 text-center observer-target">
		<h2 class="display-2">Electronics</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-5">
			<a href="#" title="Tech"
			   class="fs-thumb fs-thumb-category-tech link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">PC</span>
			</a>
			<a href="#" title="TV and Audio"
			   class="fs-thumb fs-thumb-category-entertainment link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">TV & Audio</span>
			</a>
			<a href="#" title="Gaming"
			   class="fs-thumb fs-thumb-category-gaming link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Gaming</span>
			</a>
		</div>
		<a asp-area="" asp-controller="Product" asp-action="Electronics" class="btn btn-outline-success">Browse Category</a>
	</div>

	<!-- content - jewellery -->
	<div class="pb-5 text-center observer-target">
		<h2 class="display-2">Jewellery</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-5">
			<a href="#" title=""
			   class="fs-thumb fs-thumb-category-acc link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Accessories</span>
			</a>
			<a href="#" title=""
			   class="fs-thumb fs-thumb-category-earrings link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Earrings</span>
			</a>
			<a href="#" title=""
			   class="fs-thumb fs-thumb-category-necklaces link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Necklaces</span>
			</a>
			<a href="#" title=""
			   class="fs-thumb fs-thumb-category-rings link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Rings</span>
			</a>
			<a href="#" title=""
			   class="fs-thumb fs-thumb-category-watches link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Watches</span>
			</a>
		</div>
		<a href="#" class="btn btn-outline-dark">Browse Category</a>
	</div>
</div>