@{
	ViewData["Title"] = "Index";
}

@section PageBanner {
	@await Html.PartialAsync("_PartialBanner")
}

<div class="d-flex flex-column gap-5">
	<!-- content - clothes -->
	<div class="border-bottom pb-5 text-center">
		<h2 class="display-2">Clothing</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
			<a href="#" title="Mens Clothing" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<div class="card rounded-0">
					<div class="card-body">Mens</div>
					<img src="~/Images/Index/AdobeStock_247763951_thumb.jpg" alt="Mens Clothing" class="card-img-bottom rounded-0" />
				</div>
			</a>
			<a href="#" title="Womens Clothing" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<div class="card rounded-0">
					<div class="card-body">Womens</div>
					<img src="~/Images/Index/AdobeStock_374115145_thumb.jpg" alt="Womens Clothing" class="card-img-bottom rounded-0" />
				</div>
			</a>
			<a href="#" title="Kids Clothing" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<div class="card rounded-0">
					<div class="card-body">Kids</div>
					<img src="~/Images/Index/AdobeStock_168742247_thumb.jpg" alt="Kids Clothing" class="card-img-bottom rounded-0" />
				</div>
			</a>
		</div>
	</div>

	<!-- content - electronics -->
	<div class="border-bottom pb-5 text-center">
		<h2 class="display-2">Electronics</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
			<a href="#" title="" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<div class="card rounded-0">
					<div class="card-body">Sub-cat</div>
					<img src="~/Images/Index/AdobeStock_281641708_thumb.jpg" alt="" class="card-img-bottom rounded-0" />
				</div>
			</a>
			<a href="#" title="" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<div class="card rounded-0">
					<div class="card-body">Sub-cat</div>
					<img src="~/Images/Index/AdobeStock_281641708_thumb.jpg" alt="" class="card-img-bottom rounded-0" />
				</div>
			</a>
		</div>
	</div>

	<!-- content - jewelery -->
	<div class="pb-5 text-center">
		<h2 class="display-2">Jewellery</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
			<a href="#" title="" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<div class="card rounded-0">
					<div class="card-body">Sub-cat</div>
					<img src="~/Images/Index/AdobeStock_281641708_thumb.jpg" alt="" class="card-img-bottom rounded-0" />
				</div>
			</a>
			<a href="#" title="" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<div class="card rounded-0">
					<div class="card-body">Sub-cat</div>
					<img src="~/Images/Index/AdobeStock_281641708_thumb.jpg" alt="" class="card-img-bottom rounded-0" />
				</div>
			</a>
		</div>
	</div>
</div>