@{
	ViewData["Title"] = "Index";
}

@section PageBanner {
	@await Html.PartialAsync("_PartialBanner")
}

<div class="d-flex flex-column gap-5">
	<!-- content - clothes -->
	<div class="border-bottom pb-5 text-center">
		<h2 class="display-2">Clothing</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
			<a href="#" title="Men's Clothing" class="fs-thumb fs-thumb-category-men link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Men's</span>
			</a>
			<a href="#" title="Women's Clothing" class="fs-thumb fs-thumb-category-women link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Women's</span>
			</a>
			<a href="#" title="Kids Clothing" class="fs-thumb fs-thumb-category-kid link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Kids</span>
			</a>
		</div>
	</div>

	<!-- content - electronics -->
	<div class="border-bottom pb-5 text-center">
		<h2 class="display-2">Electronics</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
			<a href="#" title="Computing" class="fs-thumb fs-thumb-category-tech link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Tech</span>
			</a>
			<a href="#" title="Entertainment" class="fs-thumb fs-thumb-category-entertainment link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Entertainment</span>
			</a>
		</div>
	</div>

	<!-- content - jewellery -->
	<div class="border-bottom pb-5 text-center">
		<h2 class="display-2">Jewellery</h2>
		<p class="lead">Category description</p>
		<div class="d-flex flex-wrap justify-content-center gap-3 mb-3">
			<a href="#" title="" class="fs-thumb fs-thumb-category-placeholder link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Category</span>
			</a>
			<a href="#" title="" class="fs-thumb fs-thumb-category-placeholder link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Category</span>
			</a>
			<a href="#" title="" class="fs-thumb fs-thumb-category-placeholder link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Category</span>
			</a>
			<a href="#" title="" class="fs-thumb fs-thumb-category-placeholder link-light link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden shadow">
				<span class="fs-3">Category</span>
			</a>
		</div>
	</div>
</div>