@{
	ViewData["Title"] = "Index";
}

@section PageBanner {
	@await Html.PartialAsync("_PartialBanner")
}

<!-- content - clothes -->
<div class="mb-3 text-center">
	<h2 class="display-2">Clothing</h2>
	<p class="lead">Category description</p>
	<div class="d-flex justify-content-around mb-3">
		<img src="~/Images/DownScaled/AdobeStock_374115145_3264_25.jpg" alt="Mens Clothing" title="Mens Clothing" class="w-25 h-auto" />
		<img src="~/Images/DownScaled/AdobeStock_374115145_3264_25.jpg" alt="Womens Clothing" title="Womens Clothing" class="w-25 h-auto" />
	</div>
</div>