@{
	ViewData["Title"] = "Index";
}

@section PageBanner {
	@await Html.PartialAsync("_PartialBanner")
}

<!-- content - clothes -->
<div class="mb-3 text-center">
	<h2 class="display-2">Clothing</h2>
	<p class="lead">Category description</p>
	<div class="d-flex justify-content-center gap-3 mb-3">
		<a href="#" title="Mens Clothing" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden">
			<div class="card rounded-0 shadow">
				<div class="card-body">Mens</div>
				<img src="~/Images/AdobeStock_247763951_thumb.jpg" alt="Mens Clothing" class="card-img-bottom rounded-0" />
			</div>
		</a>
		<a href="#" title="Womens Clothing" class="fs-thumb link-underline link-underline-opacity-0 link-underline-opacity-75-hover overflow-hidden">
			<div class="card rounded-0 shadow">
				<div class="card-body">Womens</div>
				<img src="~/Images/AdobeStock_374115145_thumb.jpg" alt="Womens Clothing" class="card-img-bottom rounded-0" />
			</div>
		</a>
	</div>
</div>