@{
	ViewData["Title"] = "Index";
}

<h1 class="display-1">Index</h1>
<p class="lead">Paragraph</p>

<div class="d-flex flex-row justify-content-around">
	<div class="p-5 fs-bg-img-placeholder">Thumb_1</div>
	<div class="p-5 fs-bg-img-placeholder">Thumb_2</div>
	<div class="p-5 fs-bg-img-placeholder">Thumb_3</div>
</div>