@charset "utf-8";

:root {
    --color-green-light: #EAFFE3;
}

*, 
*:before,
*:after {
    transition: 0.1s;
}

body {
    background-image: url("Images/AdobeStock_422780343.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-logo {
    width: max(10%, 200px, 15%);
    height: auto;
    margin: 0 auto;
}

.fs-banner-img {
    background-image: url("Images/Index/AdobeStock_437686659_banner.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-thumb {
    width: max(150px, 25%);
    height: max(150px, 25%);
    aspect-ratio: 1/1;
    display: grid;
    align-content: center;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    .fs-thumb:hover {
        transform: scale(105%);
        background-size: 110%;
    }

.fs-thumb-category-men {
    background-image: url("Images/Index/AdobeStock_247763951_thumb.jpg");
}

.fs-thumb-category-women {
    background-image: url("Images/Index/AdobeStock_374115145_thumb.jpg");
}

.fs-thumb-category-kid {
    background-image: url("Images/Index/AdobeStock_168742247_thumb.jpg");
}

.fs-thumb-category-tech {
    background-image: url("Images/Index/AdobeStock_169201525_thumb.jpg");
}

.fs-thumb-category-entertainment {
    background-image: url("Images/Index/AdobeStock_422182953_thumb.jpg");
}

.fs-thumb-category-gaming {
    background-image: url("Images/Index/AdobeStock_233234925_thumb.jpg");
}

.fs-thumb-category-acc {
    background-image: url("Images/Index/AdobeStock_166940835_thumb.jpg");
}

.fs-thumb-category-earrings {
    background-image: url("Images/Index/AdobeStock_166940835_thumb.jpg");
}

.fs-thumb-category-necklaces {
    background-image: url("Images/Index/AdobeStock_166940835_thumb.jpg");
}

.fs-thumb-category-rings {
    background-image: url("Images/Index/AdobeStock_166940835_thumb.jpg");
}

.fs-thumb-category-watches {
    background-image: url("Images/Index/AdobeStock_436057975_thumb.jpeg");
}

.fs-thumb-category-placeholder {
    background-color: red;
}

.observer-target {
    position: relative;
    opacity: 0;
    transition: 1s; /* ???? not 1s - maybe affected by transition in *{} ???? */
    transition-delay: 0.1s;
}

    .observer-target.show {
        opacity: 1;
    }

.fs-img-thumb {
    width: max(400px, 30%);
    height: auto;
    display: block;
    margin: 0 auto;
}

.fs-hover-swell {
    transform: scale(100%);
}

    .fs-hover-swell:hover {
        transform: scale(102%);
    }