@charset "utf-8";

*, 
*:before,
*:after {
    transition: 0.1s;
}

.fs-logo {
    width: max(10%, 200px, 15%);
    height: auto;
    margin: 0 auto;
}

.fs-banner-img {
    background-image: url("Images/Index/AdobeStock_437686659_banner.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-thumb {
    width: max(100px, 25%, 200px);
}

    .fs-thumb:hover {
        transform: scale(105%);
    }